@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: "Open sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #29292c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 1150px;
  display: flex;
  flex-direction: column;
  background: url("img/fon1.png") center top no-repeat, url("img/Fon2.png") center bottom 150px no-repeat;
}

.wrapper__content {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 1155px;
}

.header {
  height: 120px;
  margin-bottom: 94px;
}

.header__container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-bottom: 12px;
}

.menu__list {
  margin-bottom: 22px;
  margin-left: 32px;
  display: flex;
}

.menu__item {
  margin-right: 66px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item--active .menu__link {
  color: #dfb56d;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #dfb56d;
}

.contacts {
  margin-right: 15px;
  margin-bottom: 7px;
  text-align: right;
  font-style: normal;
}

.contact__tel {
  text-decoration: none;
  font-size: 26px;
}

.footer {
  height: 150px;
}
