
.drop {
  position: relative;
}

.drop__day{
  font-size: 13px;
  font-weight: bold;
}

.drop__break {
  font-size: 13px;
}

.drop__wrapper {
  position: absolute;
  border-radius: 5px;
  padding: 11px 19px 15px 19px;
  background: #EDEDED;
  color: #1E1F20;
  top: 100%;
  left: -9999px;
  text-align: left;
  margin-top: 15px;
}

.drop:hover .drop__wrapper {
  right: 0;
  left: initial;
  opacity: 1;
}

.drop__wrapper:before {
  content: '';
  display: block;
  position: absolute;
  left: 109px;
  top: -7px;
  width: 15px;
  height: 15px;
  background: #EDEDED;
  transform: rotate(45deg);
}

.drop__wrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -22px;
  width: 100%;
  height: 27px;
}