
.drop {
  position: relative;
}

.drop__day{
  font-size: 13px;
  font-weight: bold;
}

.drop__break {
  font-size: 13px;
  padding-right: 10px;
}

.drop__wrapper {
  width: 157px;
  position: absolute;
  border-radius: 5px;
  margin-left: 38px;
  padding: 22px 19px 15px 0;
  background: url("/img/drop.png");
  display: none;
}

.drop:hover .drop__wrapper {
  display: block;
}