.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.footer__col {
  display: flex;
  align-items: center;
}

.inner-footer{
  padding: 52px 0 25px;
}

.footer-main {
  padding-top: 25px;
}