.hello__content {
  width: 60%;
  margin-bottom: 193px;
}

.hello__title {
  margin-bottom: 20px;
}

.hello__subtitle {
  font-size: 18px;
  color: #dfb56d;
  margin-bottom: 76px;
  letter-spacing: 2px;
  margin-left: 2px;
}