.menu__list {
  margin-left: 32px;
  display: flex;
}

.menu__item {
  margin-right: 65px;
  
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item--active .menu__link {
  color: #dfb56d;
}

.menu__link {
  font-size: 16px;
  text-decoration: none;
  transition: 1s;
}

.menu__link:hover {
  color: #dfb56d;
}

.menu-footer {
  display: flex;
  margin-left: 99px;
}