.offers {
  margin-bottom: 122px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 22px);
  min-height: 449px;
  background: #FFFFFF;
  border-radius: 5px;
} 

.offers__item:last-child { 
  margin-left: 0px;
}

.offers__header {
  height: 144px;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.offers__features {
  display: flex;
  margin-bottom: 26px;
}

.offers__feature {
  display: flex;
}

.offers__feature:last-child {
  margin-left: 55px;
}

.offers__title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.offers__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
  padding: 33px 20px 30px;
}

.offers__feature-text {
  color: #666666;
  font-size: 16px;
  margin-left: 11px;
}

.offers__text {
  font-size: 14px;
  color: #303030;
  margin-bottom: 25px;
}