.partners {
  padding: 87px 0px 5px;
}

.partners__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;
}

.inner-section {
  background: #fff;
  color: #1A1B1E;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 66px;
}

.inner-section--bg--gray {
  background: #F4F5F5;
}

.partners__item {
  min-width: 230px;
  max-width: 263px;
  flex-grow: 1;
  margin-right: 14px;
  margin-bottom: 52px;
  display: flex;
  justify-content: center;
}

.partners__item:nth-child(4n+1) {
  justify-content: flex-start;
}

.partners__item:nth-child(4n+4) {
  margin-right: 0;
  margin-left: auto;
}

.partners__link:hover {
  text-decoration: none;
  filter: grayscale(1);
  transition: 1s;
}
