.past__wrapper {
  display: flex;
  flex-direction: column;
}

.past__main-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 54px;
}

.past__list {
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
}

.past__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.past__text-content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 26px
}

.past__content {
  position: relative;
  margin-right: 2%;
  overflow: hidden;
  border-radius: 5px;
  flex: 1;
}

.past__content:last-child {
  margin-right: 0;
}
.past__data {
  font-size: 14px;
}

.past__title {
  margin-bottom: -6px;
  margin-top: 12px;
  font-size: 24px;
  font-weight: 700;
}

.past__text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1px;
  margin-right: 35px;
}



