.top-line {
  display: flex;
  flex-direction: column;
  background: url("../img/fon1.png") right 49% top 55% no-repeat;
}

.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 23px;
}

.top-line__header {
  margin-bottom: 62px;
}

.services__title {
  margin-bottom: 116px;
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
}

